@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Justin Rodriguez</h1>
    <p class="lead">Offering up to full stack solutions for clients in need of software creation, improvements, or fixes.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>About me</h2>
        <p>I take joy in looking for opportunities to solve complex problems while learning in the process. I also don't mind picking up new languages if needed by a specific job or task. </p>
        <p>As for background information, here are links to my <a href="https://www.linkedin.com/in/justin-rodriguez-741a1271?trk=hp-identity-name">LinkedIn profile</a> and my
        <a href="https://docs.google.com/document/d/1Asx14YF1EBfZu-TY4le6vJEN9hDyT7W1NH85nQYoxxA/edit?usp=sharing">resume</a>.</p>
    </div>
    <div class="col-md-6">
        <h2>What do I use to develop?</h2>
        <p>I currently work the .NET framework (Which I used to make this site and deployed on Azure) and I have dipped my hands into other kinds of frameworks like <a href="https://www.codeigniter.com/">CodeIgniter</a> or <a href="http://emberjs.com/">Ember</a>. </p>
        <p>For languages starting with the most experience I have with are C#, Javascript, Java. As for databases I have a fair amount of experience with Microsoft SQL Server and only a bit with MySQL for personal projects.</p>
    </div>
</div>
