@{
    ViewBag.Title = "Portfolio";
}
<h2>My projects</h2>

<div class="panel panel-primary">
    <div class="panel-heading">Flashcards</div>
    <div class="panel-body">
        <h3><u>Location</u> </h3>
        @Html.ActionLink("Click for flashcards!","Index","Decks")
        <h3><u>Description</u></h3>
        <p>I study korean as a second language and wanted to practice my skills as well as develop something useful for myself so I made this app with crud functionality for study.</p>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">PoopFly</div>
    <div class="panel-body">
        <h3><u>Location</u> </h3>
        <a href="https://play.google.com/store/apps/details?id=com.PiggyGames.PoopFly"  target="_blank">https://play.google.com/store/apps/details?id=com.PiggyGames.PoopFly</a>
        <h3><u>Description</u></h3>
        <p>First game made using <a href="https://unity3d.com/" target="_blank">Unity</a>. It is an arcade type dodge falling projectile game with an online highscore system. </p>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Delta Survey Page</div>
    <div class="panel-body">
        <h3><u>Location</u> </h3>
        <a href="https://www.billboardmusicstore.com/survey" target="_blank">https://www.billboardmusicstore.com/survey</a>
        <h3><u>Description</u></h3>
        <p>Promotion survey page for delta on the billboard music store site. Promotion expired, sorry no free music.</p>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Brick breaker</div>
    <div class="panel-body">
        <h3><u>Location</u> </h3>
        <a href="https://github.com/kokoshoo/BrickBreaker" target="_blank">https://github.com/kokoshoo/BrickBreaker</a>
        <h3><u>Description</u></h3>
        <p>A game I threw together using java in college on my free time.</p>
    </div>
</div>


